.button-rates {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    color: white;
    border:none;
    cursor: pointer;
}

.button-multi {
    height: 35px;
    width: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
    color: white;
    border:none;
    cursor: pointer;
}

.button-send {
    height: 50px;
    width: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    /* padding: 15px; */
    margin: 5px;
    color: white;
    border:none;
    background-color: #000000;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
}

.button-onboarding-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-onboarding {
    height: 10px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;
}

.button-onboarding:hover {
    height: 10px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-top: 50px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-beer-preview-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-beer-preview {
    height: 10px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: transparent;

    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;

}

.button-beer-preview:hover {
    height: 10px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    color: rgb(255, 255, 255);
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.button-rates-beer {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    color: white;
    background-color: #0362D6;
    border:none;
    margin-left: 10px;
    margin-right: 40px;
}