@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
    margin: 0;
    font-weight: bold;
}
.subtitle {
    text-align: center;
    /* margin-bottom: 1rem; */
}


@media (max-width: 1250px) {
    .title {
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
        margin: 0;
    }
 }