#root {
    margin: 0;
    padding: 0;
}
.bg{ 
    background: url('../images/bg.jpeg');
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    
}

.onboarding {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-onboarding {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.beertastor {
    min-height: 100vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.beers-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    background-color: white;
    max-width: 300px;
    margin: 2rem;
    padding: 20px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.card-beer {
    border-radius: 15px;
    background-color: white;
    width: 60%;
    height: 100%;
    margin: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199.98px) {
    .container{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        
    }
    
    .beertastor {
        display: flex;
        align-items: center;
        padding: 0;
    }
 }


 /* @media only screen and (max-width: 1920px) {
    .bg {
        height: 100vh;
    }
 } */
 
