.palate {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flavor {
    text-align: center;
    margin-top: 15px;
}

.aromatic {
        display: flex;
        align-items: center;
        flex-direction: column;
}